
footer{
    position:relative;
    bottom:0;
    z-index: 10;
    width: 100%;
    min-height: 80px;
    height: fit-content;
    background-color: #293f3c;
    border-top: 0.2vw solid #88a200;
    overflow: hidden;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; 
}

.footer_business_info{
    position:relative;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-shrink:0;
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    padding: 0.5vw;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.business_info_div { 
    position:relative;
    height: 70px;
    line-height: 70px;
    width:30%;
    flex-shrink:0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    display: inline-block;
}



.business_info_div a{
    transform: scale(1);
    position: relative;
    font-size: 16px;
    color: rgb(143, 153, 143);
    margin: 0px;
    margin-left: 0px;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.05vw;
    transition:  .3s ;
}

.business_info_div a:hover {
    background-size: 100% 0.05vw;
}

.business_info_div a:active {
    background-size: 100% 0.178vw;
}

.business_info_div a:visited {
    color: rgb(119, 158, 119);
}


.image_folder {
    position: absolute;
    flex-direction: column;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    margin-left: 10px;
    height: 100%;
    width: 40px;
    max-width: 40px;
}
