.cards_holder{
    flex: 1 1 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    font-family: 'Nunito',sans-serif;
    background-color: var(--lightwhite);
    margin:20px;
    border-radius: 10px;
    min-height: 400px;
    max-width: 300px;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    flex: 1 1 25%;
    padding: 6rem 1rem;
    border-radius: 10px;
    transition: all 2s;
}

.card:before{
    position: absolute;
    content: '';
    top: -50%;
    left: 25%;
    width: 50%;
    height: 200%;
    z-index: -1;
    background-color: var(--lightgreen);
    filter: blur(10px);
    border-radius: 10px;
    opacity: 0;
    animation: border_light 20s infinite linear;
}


.card:after{
    position: absolute;
    content: '';
    top: 0.2rem;
    left: 0.2rem;
    width: calc(100% - 0.4rem);
    height: calc(100%  - 0.4rem);
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(136,162,0,1) 0%, rgba(41,63,60,1) 100%);
}

.card:hover{
    transform: scale(1.05);
    filter: blur(0);
    transition: all 2s;
}

.cards_holder:hover .card{
    filter: blur(5px);
    opacity: 0.5;
}

.cards_holder .card:hover{
    filter: blur(0);
    opacity: 1;
}

.cards_holder .card:hover::before{
    opacity: 1;
}

@keyframes border_light {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

