
footer{
    position:relative;
    bottom:0;
    z-index: 10;
    width: 100%;
    min-height: 80px;
    height: fit-content;
    overflow: hidden;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; 
    display: flex;
    border:0px;
    background-color: transparent;
}

address{
    flex:1 1 100%;
}

.footer_business_info{
    flex: 1 1 100%;
    position:relative;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-shrink:0;
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    padding: 0.5vw;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.business_info_div { 
    flex:1 1 25%;
    position:relative;
    height: 70px;
    line-height: 70px;
    width:30%;
    flex-shrink:0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    display: inline-block;
}



.business_info_div a{
    transform: scale(1);
    position: relative;
    font-size: 16px;
    color: rgb(143, 153, 143);
    margin: 0px;
    margin-left: 0px;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.05vw;
    transition:  .3s ;
}

.business_info_div a:hover {
    background-size: 100% 0.05vw;
}

.business_info_div a:active {
    background-size: 100% 0.178vw;
}

.business_info_div a:visited {
    color: rgb(119, 158, 119);
}


.image_folder {
    position: absolute;
    flex-direction: column;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    margin-left: 10px;
    height: 100%;
    width: 40px;
    max-width: 40px;
}



.smicons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    width: 100%;
    list-style: none;
  }
  
  .smicons_container li {
    margin: 10px;
  }
  
  .smicons_container a {
    text-decoration: none;
    border: 2px solid var(--lightgreen);
    color: var(--lightgreen);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    position: relative;
    overflow: hidden;
  }
  
  .smicons_container a i {
    font-size: 24px;
    transition: 0.3s ease;
  }
  
  .smicons_container a:before {
    position: absolute;
    content: "";
    width: 120%;
    height: 120%;
    background-color: var(--lightgreen);
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
  }
  
  .smicons_container a:hover i {
    transform: scale(1.3);
    color: var(--lightwhite);
  }
  
  .smicons_container a:hover:before {
    animation-name: hover;
    animation-duration: 0.6s;
    top: -10%;
    left: -10%;
  }
  
  @keyframes hover {
    0% {
      top: -110%;
      left: 90%;
    }
    50% {
      top: 10%;
      left: -30%;
    }
    100% {
      top: -10%;
      left: -10%;
    }
  }