.list{
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: space-between;
}

.list li{
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255,255,255,0.35);
    margin : 0;
    border-radius: 10px;
}

.button_container{
    flex : 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image_container{

    position: relative;
    flex: 1 1 100%;
    width:100%;
    height: 100%;
}

.image_container img{
    width:100px;
    height:100px;
    position:relative;
}
