.notification_block{
    overflow: hidden;
    position:relative;
    grid-area: notification;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    color: var(--lightwhite);

}



.notification_number{

    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif  ;
}


.notification_body{
    margin: 20px;
    display: flex;
    width:80%;
    height:fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(255,255, 255,0.1);
    border-radius: 10px;
    transition: .5s linear ;
}

.notification_block:hover .notification_number{
    background: transparent;
}



.notification_block:hover  .notification_body{
    display: flex;
    transform: scale(1,1);
}


.notification_icon{
    width:30px;
    height: 30px;
    background-color: var(--darkgreen);
    border-radius: 50%;
}

.notification_text{
    height:fit-content;
    overflow: hidden;
    width:100%;
    flex:1 1 80%
}


.close_btn {
    color:white;
    background: transparent;
    border:0;
    margin:5px;
}