header label{
    margin : 0px;
}


#registration_folder{
    width:100%;
    height:100%;
    display:inline-block;
}

fieldset{
    width:100%;
    display:flex;
    border:0;
}

form {
    width:40%;
    margin:auto;
}

.centred_form{
    width:100%;
    display:block;
}

.double_element{
    margin:auto;
    width:100%;
    display:table;
}
legend{
    margin:auto;
}

.double_element .form_element {
    float:left;
    width: 40%;
    height: 50px;
    margin:auto;
    display: inline-block;
}

.double_element  .right {
    float:right;
    width: 40%;
    height: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.form_element{
    flex:1;
    width:40%;
    height:fit-content;
    margin:auto;
    margin-bottom:40px;
    position:relative;
    display:block;
}

label{
    display:block;
    margin-bottom:10px;
}

video{
    margin:auto;
}

input::placeholder {
    font-size: 14px;
    text-align: left;
    font-family: 'Signika Negative', sans-serif;
}

input[type=email], input[type=text], input[type=tel], input[type=password] {
    display: block;
    height: 32px;
    padding-left:10px;
    border-radius: 4px;
    border: solid rgb(143, 153, 143) 2px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

input[type=email]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus {
     border: solid #88a200 2px;
}

.form_element input[type=submit] {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.form_element input[type=submit]:focus{
    border: solid #88a200 2px;
}
.form_element input[type=submit]:hover{
    border: solid #88a200 2px;
}

.form_element button[type=reset] {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.form_element button[type=reset]:focus{
    border: solid #88a200 2px;
}
.form_element button[type=reset]:hover {
    border: solid #88a200 2px;
}

.multiple_answers{
    display:flex;
}

.multiple_answers #radio,#checkbox{
    margin-left:10px;
    margin-right:20px;
}
