.hidden{
    display: none !important;
}

.home-link {
    position: absolute;
    top: 10px;
    right: 10px;
}
.auth-link{
    position: absolute;
    top: 10px;
    right: 40px;
}

body{
    background-image: url("bg.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.container{
    min-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container div{
    display: flex;
    text-align: start;
    width: 100%;
}

#change_password_link{
    cursor: pointer;
    color: blue;
}

form input{
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button{
    width: 100%;
    cursor: pointer;
}

.btn-toggle-forms{
    width:100%;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
}

.lesson-btn{
    padding: 10px;
    margin: 10px;
    width: 100%;
    color: blue;
    font-size: 1.5rem;
    text-decoration: underline;
}

.lesson-content{
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
}

.img{
    margin-top: 20px;
    width: 500px;
}
.img-container{
    text-align: center;
}
#title{
    color: red;
    font-size: 3rem;
}
#search-lesson{
    padding: 10px;
    margin: 10px;
    width: 25%;
    font-size: 1.5rem;
    text-align: center;
}

