footer {
    background-color: white;
    color: #fff;
    padding: 20px;
    font-family: 'Fira Sans';
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

 .footer_navbar{
    display: flex;
    width:100%;
    justify-content: center;
  }

  .footer_navbar ul {
    width:100%;
    padding:0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer_navbar li{
    position: relative;
    margin:10px;
  }

  .footer_navbar a {
    font-size:24px;
    color: #5e7256;
    text-decoration: none;
  }

  .contact-info {
    width:100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .contact-info a {
    margin: 0;
    font-size: 18px;
    color: #5e7256;
  }


  @media  screen and (max-width:800px) {
    .footer_navbar{
        display: none;
    }

    .contact-info{
        flex-direction: column;
    }
  }