#booking_sector{
    width:100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#booking_title{
    font-size: 72px;
    color:#5e7256;
    text-align: center;
}

.ok{
    color:#5e7256;
}

.error{
    color: red !important;
}

.form{
    padding:20px;
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form div{
    margin:10px;
}

.form_field_layout {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form_element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:19pt;
    color:#132c29;
}

.form_element .booking_form_field{

    width:80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding:10px;
    border: 2px solid #5e7256;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form_element input:hover, .form_element input:focus {
    border-color:  #132c29;
}

.form_element .title{
    width:80%;
    font-size:32px;
    color: #5e7256;
}


.custom-select {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
}

.select-selected {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #5e7256;
    border-radius: 10px;
    color: #132c29;
    padding: 10px;
    font-size: 19pt;
    font-weight: 500;
    cursor: pointer;
    margin: 0px !important;
}

.select-items {
    width: 100%;
    display: unset;
    position: absolute;
    background-color: white;
    border: 2px solid #5e7256;
    border-radius: 10px;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0px !important;
}

.select-items::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
    height: 10px;
}

.select-items::-webkit-scrollbar-thumb {
    background-color: #5e7256;
    border-radius: 10px;
    height: 10px;
}

.select-items::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select-hide {
    display: none;
}

.select-item {
    display: block;
    padding: 10px;
    font-size: 18pt;
    font-weight: 500;
    color: #132c29;
    cursor: pointer;
}

.select-item.unactive::before {
    content: "+";
    display: inline-block;
    margin-right: 10px;
    color: green;
}

.select-item.active::before {
    content: "-";
    display: inline-block;
    margin-right: 10px;
    color: red;
}


.date-custom-select {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.date-custom-select select {
    display: none;
}
.date-select-selected {
    background-color: #f1f1f1;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.date-select-selected:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #666 transparent transparent transparent;
}
.date-select-selected.date-select-arrow-active:after {
    border-color: transparent transparent #666 transparent;
    top: 7px;
}
.date-select-items div {
    color: #666;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}
.date-select-items div:hover {
    background-color: #f1f1f1;
}
.disabled {
    color: #ccc;
}


.button {
    position: relative;
    color: #5e7256;
    cursor: pointer;
    font-size:32px;
    font-weight: 400;
    line-height: 30px;
    height:100%;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }

.button::after,
.button::before {
    backface-visibility: hidden;
    background-color: #132c29;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    transform: scale(0);
    height:1px;
    z-index: 10;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.button::after{
    bottom:-3px;
}

.button::before{
    top:-6px;
}

.button:hover::after,
.button:hover::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.disabled_layout{
    display: none;
}