.container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:40px 0px;
    flex:1 1 33%;
    font-family: 'Nunito', sans-serif;
}

.container .box{
    position:relative;
    width:320px;
    height:400px;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin: 40px 30px;
    transition: 0.5s;

}


.container .box::before{
    
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    width:60%;
    height:100%;
    background:#fff;
    border-radius:8px;
    transform: skewX(15deg);
    transition:0.5s;

}

.container .box::after{
    
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
    width:60%;
    height:100%;
    background:#fff;
    border-radius:10px;
    transform: skewX(15deg);
    transition:0.5s;
    filter: blur();
    transition: 0.5s;

}


.container .box:hover::before,
.container .box:hover::after{
    transform: skewX(0deg);
    left:0;
    width: calc(100% - 90px);
}

.container:nth-child(1) .box:before,
.container:nth-child(1) .box:after{
    background-image: url(C:/Users/sidor/Desktop/unik/Frontend/Prakt7/images/florist.png);
}

.container:nth-child(2) .box:before,
.container:nth-child(2) .box:after{
    background-image: url(C:/Users/sidor/Desktop/unik/Frontend/Prakt7/images/flowers_garden.png);
}

.container:nth-child(3) .box:before,
.container:nth-child(3) .box:after{
    background-image: url(C:/Users/sidor/Desktop/unik/Frontend/Prakt7/images/florist_championship.png);
}

.container .box span{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:8;
    pointer-events:none;
}


.container .box span::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background: rgba(255,255, 255,0.1);
    backdrop-filter:blur(10px);
    opacity:0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.container .box:hover span::before{
    top:70%;
    left:-20%;
    width:100px;
    height:100px;
    opacity:1;
}

.container .box span::after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background: rgba(255,255, 255,0.1);
    backdrop-filter:blur(10px);
    opacity:0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay:-1s;
}

.container .box:hover span::after{
    top:0;
    right:0;
    width:100px;
    height:100px;
    opacity:1;
}

@keyframes animate{
    0%,100%{
        transform: translateY(10px);
    }

    50%{
        transform: translateY(-10px);
    }
}


.container .box .content {
    width: 60%;
    height: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    padding: 60px 40px;
    transform: skewX(0deg);
    background: rgba(255,255, 255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    z-index: 1;
    color: #fff;
    transform: skewX(0deg);
}

.container .box:hover .content {
    padding:60px 40px;
    transform:skewX(0deg);
}


.like{
    background-color:transparent;
    border:0px;
    height:20px;
    width:20px;
}

.white_heart{
    color:white;
}

.red_heart{
    color:red;
}



