#registration_folder{
    position: relative;
}

#registration_folder .form_glass_squares{
    color: black;
    position: absolute;
    backdrop-filter: blur(5px);
    height:60px;
    width: 60px;
    left:calc(10%*var(--i) + 10%);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255,  255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate{
    0%,100%
    {
        transform: translateY(calc(-10px*var(--i) - 10px));
    }
    50%
    {
        transform: translateY(calc(-10px*var(--i) + 10px));
    }
}

#registration_folder .form_glass_squares:nth-child(2){
    top:20%;
    left:80%;
    width: 120px;
    height: 120px;
    z-index: 0;
}
#registration_folder .form_glass_squares:nth-child(3){
    top:50%;
    left:20%;
    width: 80px;
    height: 80px;
    z-index: 0;
}
#registration_folder .form_glass_squares:nth-child(4){
    top:60%;
    left: 60%;
    width: 60px;
    height: 60px;

}
#registration_folder .form_glass_squares:nth-child(5){
    top: 90%;
    left: 40%;
    width: 50px;
    height: 50px;

}


#registration_folder {
    flex: 1 1 100%;
    display:flex
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 5%;
}

fieldset{
    width:100%;
    display:flex;
    border:0;
    color:white;
}

form {
    width:100%;
    padding: 20px;
    background: rgba(255,255, 255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin:auto;
    font-family: 'Nunito', sans-serif;
}

.centred_form {
    width: 100%;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas:
        "email name"
        "password repeat_password"
        "submit reset";
}

#email_holder{
    grid-area:email;
}

#name_holder{
    grid-area:name;
}

#password_holder{
    grid-area: password;
}

#password_repeat_holder{
    grid-area:repeat_password;
}

#submit_holder{
    grid-area:submit;
}

#reset_holder{
    grid-area:reset;
}

legend{
    margin:auto;
    margin-bottom:20px;
}

.form_element{
    flex:1 1 100%;
    width:100%;
    height:fit-content;
    margin:auto;
    margin-bottom:40px;
    position:relative;
    display:block;
}

*::placeholder {
    /* modern browser */
    color: var(--white);
}


form label{
    display:block;
    margin-bottom:10px;
}

input::placeholder {
    font-size: 16px;
    text-align: left;
}

input[type=email], input[type=text], input[type=tel], input[type=password] {
    display: block;
    height: fit-content;
    padding-left:10px;
    padding: 10px 10px;
    border-radius: 4px;
    border: solid rgb(143, 153, 143) 2px;
    color:white;
    
    background-color: transparent;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

input[type=email]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus {
     border: solid #88a200 2px;
}

.form_element input[type=submit] {
    width: 100%;
    color:white;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
}

.form_element input[type=submit]:focus{
    border: solid #88a200 2px;
}
.form_element input[type=submit]:hover{
    border: solid #88a200 2px;
}

.form_element button[type=reset] {
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    color:white;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
}

.form_element button[type=reset]:focus{
    border: solid #88a200 2px;
}
.form_element button[type=reset]:hover {
    border: solid #88a200 2px;
}


@media screen and (max-width:712px){
    .centred_form {
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% 10% 10% 10% 10%;
        grid-template-areas:
            "email"
            "name"
            "password"
            "repeat_password"
            "submit"
            "reset";
    }

    .form_element{
        font-size:12px;
    }

}