<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="../../../static/css/admin_panel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ad833e7fc4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Admin Panel
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="https://github.com/themesberg/simple-bootstrap-5-dashboard" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/simple-bootstrap-5-dashboard">Star</a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Hello, there
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
                </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-md-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/rents">
                                <i class="fa-solid fa-gauge"></i>
                                <span class="ml-2">Rents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/users">
                                <i class="fa-sharp fa-solid fa-user"></i>
                                <span class="ml-2">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle">
                                <i class="fa-solid fa-car"></i>
                                <span class="ml-2">Vehicles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle/work_models">
                                <i class="fa-solid fa-briefcase"></i>
                                <span class="ml-2">Work models</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle/names">
                                <i class="fa-solid fa-copyright"></i>
                                <span class="ml-2">Names</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/permissions">
                                <i class="fa-brands fa-expeditedssl"></i>
                                <span class="ml-2">Permission</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Table of brands</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID brand</th>
                                        <th>Brand name</th>
                                        <th>Division</th>
                                    </tr>
                                </thead>
                                <tbody th:each="brand:${brands}">
                                    <tr>
                                        <td th:text = "${brand.idBrand}"></td>
                                        <td th:text = "${brand.brandName}"></td>
                                        <td th:text = "${brand.division}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Table of models</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID model</th>
                                        <th>Model name</th>
                                        <th>Construction year</th>
                                    </tr>
                                </thead>
                                <tbody th:each = "model:${models}">
                                    <tr>
                                        <td th:text = "${model.idModel}"></td>
                                        <td th:text = "${model.modelName}"></td>
                                        <td th:text = "${model.cyear}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4"><h1>Table of names</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID name</th>
                                        <th>Brand id</th>
                                        <th>Model id</th>
                                    </tr>
                                </thead>
                                <tbody th:each = "name:${names}">
                                    <tr>
                                        <td th:text = "${name.idVehicleName}"></td>
                                        <td th:text = "${name.idBrand}"></td>
                                        <td th:text = "${name.idModel}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Add new brand</h1>
                        <form data-form_method = "POST" data-resolver = "api-vehicle-brands">
                            <div class="form-group">
                                <label for="new_brand_name">Brand name:</label>
                                <input data-field="brandName" class="form-control" id="new_brand_name"  placeholder="Enter new brand name"></input>
                            </div>
                            <div class="form-group">
                                <label for="new_brand_division">Brand division:</label>
                                <input data-field="division" class="form-control" id="new_brand_division"  placeholder="Enter new brand division"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "add_new_brand_name">ADD</button>
                        </form>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Add new model</h1>
                        <form data-form_method = "POST" data-resolver = "api-vehicle-models">
                            <div class="form-group">
                                <label for="new_model_name">Model name:</label>
                                <input data-field="modelName" class="form-control" id="new_model_name"  placeholder="Enter new model name"></input>
                            </div>
                            <div class="form-group">
                                <label for="new_model_cyear">Construction year:</label>
                                <input data-field="cyear" class="form-control" id="new_model_cyear"  placeholder="Enter new model construction year"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "add_new_model_name">ADD</button>
                        </form>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Delete old brand</h1>
                        <form data-form_method = "DELETE" data-resolver = "api-vehicle-brands">
                            <div class="form-group">
                                <label for="old_brand_name">Brand name:</label>
                                <input data-field="id" class="form-control" id="old_brand_name"  placeholder="Enter old brand name"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "delete_old_brand_name">DELETE</button>
                        </form>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Delete old model</h1>
                        <form data-form_method = "DELETE" data-resolver = "api-vehicle-models">
                            <div class="form-group">
                                <label for="old_model_name">Model name:</label>
                                <input data-field="id" class="form-control" id="old_model_name"  placeholder="Enter old model name"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "delete_old_model_name">DELETE</button>
                        </form>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Update old brand</h1>
                        <form data-form_method = "PUT" data-resolver = "api-vehicle-brands">
                            <div class="form-group">
                                <label for="updated_brand_name_id">ID:</label>
                                <input data-field = "id" class="form-control" id="updated_brand_name_id"  placeholder="Enter old brand name id"></input>
                            </div>
                            <div class="form-group">
                                <label for="updated_brand_name">Brand name:</label>
                                <input data-field = "brandName" class="form-control" id="updated_brand_name"  placeholder="Enter new brand name"></input>
                            </div>
                            <div class="form-group">
                                <label for="updated_brand_division">Brand division:</label>
                                <input data-field = "division" class="form-control" id="updated_brand_division"  placeholder="Enter new brand division"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "update_old_brand_name">Update</button>
                        </form>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Update old model</h1>
                        <form data-form_method = "PUT" data-resolver = "api-vehicle-models">
                            <div class="form-group">
                                <label for="updated_model_name_id">ID:</label>
                                <input data-field = "id" class="form-control" id="updated_model_name_id"  placeholder="Enter new model name id"></input>
                            </div>
                            <div class="form-group">
                                <label for="updated_model_name">Model name:</label>
                                <input data-field = "modelName" class="form-control" id="updated_model_name"  placeholder="Enter new model name"></input>
                            </div>
                            <div class="form-group">
                                <label for="updated_model_cyear">Model cyear:</label>
                                <input data-field = "cyear" class="form-control" id="updated_model_cyear"  placeholder="Enter new model cyear"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "update_old_model_name">Update</button>
                        </form>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Connect into name</h1>
                        <form data-form_method = "POST" data-resolver = "api-vehicle-names">
                            <div class="form-group">
                                <label for="connected_brand_name">Brand name id:</label>
                                <input data-field = "idBrand" class="form-control" id="connected_brand_name" placeholder="Enter connected brand name id"></input>
                            </div>
                            <div class="form-group">
                                <label for="connected_model_name">Model name id:</label>
                                <input data-field = "idModel" class="form-control" id="connected_model_name"  placeholder="Enter connected model name id"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "connect_into_name">CONNECT</button>
                        </form>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Delete connection</h1>
                        <form data-form_method = "DELETE" data-resolver = "api-vehicle-names">
                            <div class="form-group">
                                <label for="deleted_name_id">Vehicle name id:</label>
                                <input data-field = "id" class="form-control" id="deleted_name_id"  placeholder="Enter old name id"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "delete_connection">DELETE</button>
                        </form>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Change name</h1>
                        <form data-form_method = "PUT" data-resolver = "api-vehicle-names">
                            <div class="form-group">
                                <label for="changed_name_id">Vehicle name id:</label>
                                <input data-field = "id" class="form-control" id="changed_name_id"  placeholder="Enter old name id"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_brand_name">Brand id:</label>
                                <input data-field = "idBrand" class="form-control" id="changed_brand_name"  placeholder="Enter changed brand id"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_model_name">Model id:</label>
                                <input data-field = "idModel" class="form-control" id="changed_model_name"  placeholder="Enter changed model id"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "change_name">CONNECT</button>
                        </form>
                    </div>
                    <div class = "col-sm m-4">

                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../../../scripts/token_script.js"></script>
    <script src="../../../scripts/form_resolver.js"></script>
</body>
</html>