<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="../../../css/admin_panel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ad833e7fc4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Admin Panel
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="https://github.com/themesberg/simple-bootstrap-5-dashboard" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/simple-bootstrap-5-dashboard">Star</a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Hello, there
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
                </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-md-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/rents">
                                <i class="fa-solid fa-gauge"></i>
                                <span class="ml-2">Rents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/users">
                                <i class="fa-sharp fa-solid fa-user"></i>
                                <span class="ml-2">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle">
                                <i class="fa-solid fa-car"></i>
                                <span class="ml-2">Vehicles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle/work_models">
                                <i class="fa-solid fa-briefcase"></i>
                                <span class="ml-2">Work models</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/vehicle/names">
                                <i class="fa-solid fa-copyright"></i>
                                <span class="ml-2">Names</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/admin/permissions">
                                <i class="fa-brands fa-expeditedssl"></i>
                                <span class="ml-2">Permission</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Table of work models</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Model photo name</th>
                                        <th>Price per hour</th>
                                        <th>Vehicle name ID</th>
                                        <th>Group ID</th>
                                    </tr>
                                </thead>
                                <tbody th:each = "work_model:${work_models}">
                                    <tr>
                                        <td th:text = "${work_model.idVehicleWorkModel}"></td>
                                        <td th:text = "${work_model.modelPhotoName}"></td>
                                        <td th:text = "${work_model.pricePerHour}"></td>
                                        <td th:text = "${work_model.idVehicleName}"></td>
                                        <td th:text = "${work_model.idVehicleGroup}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col col-sm m-4">
                        <div class="row mb-5">
                            <div class="col">
                                <h1>Add new work model</h1>
                                <form data-form_method="POST" data-resolver="api/vehicle/work_models">
                                    <div class="form-group">
                                        <label for="new_model_photo_name">Model photo name:</label>
                                        <input class="form-control" id="new_model_photo_name" placeholder="Enter new model photo name" data-field="modelPhotoName">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_price_per_hour">Price per hour:</label>
                                        <input class="form-control" id="new_price_per_hour" placeholder="Enter new price per hour" data-field="pricePerHour">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_id_vehicle_name">Id vehicle name:</label>
                                        <input class="form-control" id="new_id_vehicle_name" placeholder="Enter new id vehicle name" data-field="idVehicleName">
                                    </div>
                                    <div class="form-group">
                                        <label for="new_group_id">Group id:</label>
                                        <input class="form-control" id="new_group_id" placeholder="Enter new group id" data-field="idVehicleGroup">
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="add_new_work_model">ADD</button>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h1>Delete work model</h1>
                                <form data-form_method="DELETE" data-resolver="api/vehicle/work_models">
                                    <div class="form-group">
                                        <label for="del_work_model_id">Work Model ID:</label>
                                        <input class="form-control" id="del_work_model_id" placeholder="Enter del work model id" data-field="id">
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="delete_work_model">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm m-4">
                        <h1>Change work model</h1>
                        <form data-form_method="PUT" data-resolver="api/vehicle/work_models">
                            <div class="form-group">
                                <label for="work_model_id">Work Model ID:</label>
                                <input class="form-control" id="work_model_id" placeholder="Enter work model id" data-field="id">
                            </div>
                            <div class="form-group">
                                <label for="changed_model_photo_name">Model photo name:</label>
                                <input class="form-control" id="changed_model_photo_name" placeholder="Enter changed model photo name" data-field="modelPhotoName">
                            </div>
                            <div class="form-group">
                                <label for="changed_price_per_hour">Price per hour:</label>
                                <input class="form-control" id="changed_price_per_hour" placeholder="Enter changed price per hour" data-field="pricePerHour">
                            </div>
                            <div class="form-group">
                                <label for="changed_group_id">Group id:</label>
                                <input class="form-control" id="changed_group_id" placeholder="Enter changed group id" data-field="idVehicleGroup">
                            </div>
                            <div class="form-group">
                                <label for="changed_id_vehicle_name">Id vehicle name:</label>
                                <input class="form-control" id="changed_id_vehicle_name" placeholder="Enter changed id vehicle name" data-field="idVehicleName">
                            </div>
                            <button type="submit" class="btn btn-primary" id="change_work_model">CHANGE</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../../../scripts/token_script.js"></script>
    <script src="../../../scripts/form_resolver.js"></script>
</body>
</html>