<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Basic Carshering</title>
        <link rel="stylesheet" type="text/css" th:href = "@{csss/basic.css}">
        <link rel="stylesheet" type="text/css" th:href = "@{csss/header.css}">
        <link rel="stylesheet" type="text/css" th:href = "@{csss/footer.css}">
        <link rel="stylesheet" type="text/css" th:href = "@{csss/form.css}">
        <link rel="stylesheet" type="text/css" th:href = "@{csss/card.css}">
        <link rel="stylesheet" type="text/css" th:href = "@{csss/content.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <header class="header">
            <div id="company_info_div">
                <img src="icons/logo.png" alt = "User Icon" id = "company-icon">
                <a href = "start">Basic carsharing</a>
            </div>
            <div id = "search_bar_div" class = "enabled_header_block" th:if = "${rent == null}">
                <input type = "text" id = "basic_car_search_bar" name = "basic_car_search_bar" placeholder="Поиск...">
            </div>
            <div id = "current_rent_info" class = "disabled_header_block" th:if="${rent != null}">
                <span id = "timer_view" th:text = "${rent.startTime.substring(rent.startTime.length() - 8, rent.startTime.length() - 3)}"></span>
                <div id = "total_block">
                    <span id = "car_name_view" th:text = "${vehicle_name}"></span>
                    <span id ="total_price_view" th:text = "${vehicle_model.pricePerHour}"></span>
                </div>
                <div id = "btn_block">
                    <i class="fa fa-stop btn_stop_rent" th:current_user = "${muser}" aria-hidden="true"></i>
                </div>
            </div>
          </div>
            <div id = "user_info_div">
                <a class="header_user_info_enabled" th:text = "${muser.username}" href="profile"></a>
                <img class="header_user_info_enabled" src="icons/user.svg" alt = "User Icon" id = "user-icon">
            </div>
            <div id = "fast_filters_bar">
                <ul class = "fast_filters_ul">
                    <li class = "fast_filters_item"><a>Быстро</a></li>
                    <li class = "fast_filters_item"><a>Дешево</a></li>
                    <li class = "fast_filters_item"><a>Спорт</a></li>
                    <li class = "fast_filters_item"><a>На вечер</a></li>
                    <li class = "fast_filters_item"><a>Премиум</a></li>
                </ul>
            </div>
        </header>
        
        <div class="content">
          <div class="basic_card_container" id = 'main_cards_container' th:each = "pair:${pairs}">
            <div class="card">
              <div class="card_image">

              </div>
              <div class = "card_info">
                  <h3 class = "card_info_title" th:text = "${pair.getValue()}"></h3>
                  <h3 class = "card_info_price" th:text = "${pair.getKey().pricePerHour}"></h3>
              </div>
              <div class="card_control">
                  <a href="#" class="button rent_btn" th:vehicles_list = "${vehicles}" th:current_user = "${muser}" th:vehicle_work_model = "${pair.getKey()}">Аренда</a>
              </div>
            </div>
          </div>
        </div>
        
        <footer class="footer">
            
           
            <div class="container">
                <div class="row">
                  <div class="footer-col">
                    <h4>Basic carsharing</h4>
                    <ul>
                      <li><a href="#">О нас</a></li>
                      <li><a href="#">Наши услуги</a></li>
                      <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Помощь</h4>
                    <ul>
                      <li><a href="#">ЧаВо</a></li>
                      <li><a href="#">История заказов</a></li>
                      <li><a href="#">Способы оплаты</a></li>
                      <li><a href="#">Служба поддержки</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Аренда</h4>
                    <ul>
                      <li><a href="#">Повседневно</a></li>
                      <li><a href="#">На вечер</a></li>
                      <li><a href="#">Спорт</a></li>
                      <li><a href="#">Премиум</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Соц. сети</h4>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
               </div>
        </footer>
        <script src="scripts/rent_starter.js"></script>
        <script src="scripts/rent_ender.js"></script>
    </body>
</html>