<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login : Demo</title>
    <link rel="stylesheet" type="text/css" href = "csss/basic.css">
    <link rel="stylesheet" type="text/css" href = "csss/form.css">
    <link rel="stylesheet" type="text/css" href = "csss/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <div class="content">
          <div class = "form_wrapper" id='reg_form_wrapper' >
            <form th:action="@{/login}" class="user-form" id = 'user_form' method="post">
                <div id="choser_container">
                    <h2 class = 'form_title active'>Вход</h2>
                    <a class = 'form_title inactive' href="register">Регистрация</a>
                </div>

                <!-- Скрытое поле для csrf токена -->
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">


                <!-- Поле для ввода имени пользователя -->
                <label for="snpassport" class="form_label enabled_form_field">Серия номер паспорта:</label>
                <input type="text" id="snpassport" name="snpassport" class = "enabled_form_field">

                <!-- Поле ввода пароля-->
                <label for="user_form_password" class="form_label constant">Пароль:</label>
                <input type="password" id="user_form_password" name="password" class="constant">

                <!-- Кнопка submit -->
                <button class = "form_submit_button" type="submit" onclick="submitLoginForm()">Login</button>

            </form>
          </div>
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script>
  function submitLoginForm() {
    var passwordField = document.getElementById("password");
    var plainPassword = passwordField.value;
    var hashedPassword = bcrypt.hashSync(plainPassword, 10);
    passwordField.value = hashedPassword;
    document.getElementById("loginForm").submit();
  }
</script>
</html>