<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login : Demo</title>
    <link rel="stylesheet" type="text/css" href = "css/basic.css">
    <link rel="stylesheet" type="text/css" href = "css/form.css">
    <link rel="stylesheet" type="text/css" href = "css/content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="content">
    <div class="form_wrapper" id='reg_form_wrapper'>
        <form th:action="@{/login}" class="user-form" id='user_form' method="post" onsubmit="return submitLoginForm()">

            <div id="choser_container">
                <h2 class='form_title active'>Вход</h2>
                <a class='form_title inactive' href="register">Регистрация</a>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

            <label for="username" class="form_label enabled_form_field">Username:</label>
            <input type="text" id="username" name="username" class="enabled_form_field">

            <label for="user_form_password" class="form_label constant">Пароль:</label>
            <input type="password" id="user_form_password" name="password" class="constant">

            <button class="form_submit_button" type="submit">Login</button>

        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script>
    function submitLoginForm() {

        var form = document.getElementById("user_form");
        var formData = new FormData(form);

        fetch(form.action, {
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Login failed');
                    return null;
                }
            })
            .then(data => {
                if (data && data.result && data.result.jwt) {
                    var authorizationHeader = 'Bearer ' + data.result.jwt;
                    localStorage.setItem('userToken', data.result.jwt);
                    window.location.href = "/api/start?token=" + data.result.jwt;
                }
                else{
                    console.log("Something went wrong with token: " + data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

        return false; // Prevent the form from submitting in the traditional way
    }
</script>
<script src="../../scripts/token_script.js"></script>
</body>
</html>