<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Carshering</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
  <title>Login : Demo</title>
  <link rel="stylesheet" type="text/css" th:href = "@{css/basic.css}">
  <link rel="stylesheet" type="text/css" th:href = "@{css/header.css}">
  <link rel="stylesheet" type="text/css" th:href = "@{css/footer.css}">
  <link rel="stylesheet" type="text/css" th:href = "@{css/form.css}">
  <link rel="stylesheet" type="text/css" th:href = "@{css/card.css}">
  <link rel="stylesheet" type="text/css" th:href = "@{css/content.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="content">
  <div class="form_wrapper" id='reg_form_wrapper'>
    <form th:action="@{/register}" class="user-form" id='user_form' method="post" onsubmit="return submitLoginForm()">

      <div id="choser_container">
        <h2 class='form_title active'>Регистрация</h2>
        <a class='form_title inactive' href="login">Вход</a>
      </div>

      <label for="snpassport" class="form_label enabled_form_field">Серия номер пасспорта:</label>
      <input type="text" id="snpassport" name="snpassport" class="enabled_form_field">

      <label for="full_name" class="form_label enabled_form_field">ФИО пользователя:</label>
      <input type="text" id="full_name" name="fullName" class="enabled_form_field">

      <label for="date_of_birth" class="form_label enabled_form_field">Дата рождения:</label>
      <input type="text" id="date_of_birth" name="dateOfBirth" class="enabled_form_field">

      <label for="username" class="form_label enabled_form_field">Имя пользователя:</label>
      <input type="text" id="username" name="username" class="enabled_form_field">

      <label for="password" class="form_label constant">Пароль:</label>
      <input type="password" id="password" name="password" class="constant">

      <button type="submit">Register</button>

    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script>
    function submitLoginForm() {
        var form = document.getElementById("user_form");
        var formData = new FormData(form);

        fetch(form.action, {
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/login";
                } else {
                    console.error('Registration failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });

        return false;
    }
</script>
</body>
</html>