.info_container{
    flex: 1 1 100%;
    background:transparent;
    margin:10px;
    display:grid;
    grid-template-areas:
        "image title title"
        "image description description"
        "image_description description description";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.info_container .info_card {
    color:var(--white);
    display:flex;
    font-size:24px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin:10px;
    padding:10px;
}

.image_container {
    background-color: none;
    background-image: url(../images/flowers_garden.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    grid-area: image;
}

.image_description {
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    grid-area: image_description;
}

.title_container {
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    grid-area: title;
}

.description_container {
    justify-content:start;
    align-items:start;
    background: rgba(255, 255, 255, 0.11);
    grid-area: description;
    padding:20px;
}


@media (max-width: 1400px){
    .info_container {
        grid-template-areas:
            "image title"
            "description description"
            "description description"
            "image_description image_description";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr 1fr;
    }
}

@media (max-width: 820px){
    .info_container {
        grid-template-areas:
            "image"
            "title"
            "description"
            "description"
            "image_description";
        grid-template-columns: 1fr;
        grid-template-rows: minmax(auto, 200px) 0.5fr 1fr 1fr 0.5fr;
    }
}
