<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href="admin_panel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ad833e7fc4.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Admin Panel
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="https://github.com/themesberg/simple-bootstrap-5-dashboard" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/simple-bootstrap-5-dashboard">Star</a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Hello, there
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
                </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-md-5">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="admin_rent">
                                <i class="fa-solid fa-gauge"></i>
                                <span class="ml-2">Rents</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin_users">
                                <i class="fa-sharp fa-solid fa-user"></i>
                                <span class="ml-2">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin_vehicles">
                                <i class="fa-solid fa-car"></i>
                                <span class="ml-2">Vehicles</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin_work_models">
                                <i class="fa-solid fa-briefcase"></i>
                                <span class="ml-2">Work models</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin_names">
                                <i class="fa-solid fa-copyright"></i>
                                <span class="ml-2">Names</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="admin_permissions">
                                <i class="fa-brands fa-expeditedssl"></i>
                                <span class="ml-2">Permission</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                <div class = "row mb-5">
                    <div class = "col-sm m-4">
                        <h1>Table of vehicles</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>VIN</th>
                                        <th>ID work model</th>
                                        <th>color</th>
                                        <th>state</th>
                                        <th>place</th>
                                    </tr>
                                </thead>
                                <tbody th:each = "vehicle:${vehicles}">
                                    <tr>
                                        <td th:text = "${vehicle.vin}"></td>
                                        <td th:text = "${vehicle.idVehicleWorkModel}"></td>
                                        <td th:text = "${vehicle.color}"></td>
                                        <td th:text = "${vehicle.state}"></td>
                                        <td th:text = "${vehicle.place}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class = "row mb-5">
                    <div class ="col col-sm m-4">
                        <div class = "row mb-5">
                            <div class = "col">
                                <h1>Add new vehicle</h1>
                                <form>
                                    <div class="form-group">
                                        <label for="new_vin">VIN:</label>
                                        <input class="form-control" id="new_vin"  placeholder="Enter new VIN"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_color">Color:</label>
                                        <input class="form-control" id="new_color"  placeholder="Enter new color"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_state">State:</label>
                                        <input class="form-control" id="new_state"  placeholder="Enter new state"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_place">Place:</label>
                                        <input class="form-control" id="new_place"  placeholder="Enter new place"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="new_work_model_id">Work model id:</label>
                                        <input class="form-control" id="new_work_model_id"  placeholder="Enter new work model id"></input>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id = "add_new_vehicle">ADD</button>
                                </form>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col">
                                <h1>Delete vehicle</h1>
                                <form>
                                    <div class="form-group">
                                        <label for="del_vin">VIN:</label>
                                        <input class="form-control" id="del_vin"  placeholder="Enter del VIN"></input>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id = "delete_vehicle">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class = "col-sm m-4">
                        <h1>Change vehicle</h1>
                        <form>
                            <div class="form-group">
                                <label for="vehicle_vin">VIN:</label>
                                <input class="form-control" id="vehicle_vin"  placeholder="Enter VIN"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_color">Color:</label>
                                <input class="form-control" id="changed_color"  placeholder="Enter changed color"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_state">State:</label>
                                <input class="form-control" id="changed_state"  placeholder="Enter changed state"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_place">Place:</label>
                                <input class="form-control" id="changed_place"  placeholder="Enter changed place"></input>
                            </div>
                            <div class="form-group">
                                <label for="changed_work_model_id">Work model id:</label>
                                <input class="form-control" id="changed_work_model_id"  placeholder="Enter changed work model id"></input>
                            </div>
                            <button type="submit" class="btn btn-primary" id = "change_vehicle">CHANGE</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="../../scripts/admin_vehicles_forms_handler.js"></script>
</body>
</html>