<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Carshering</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    <title>Login : Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{csss/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{csss/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{csss/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{csss/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{csss/card.css}">
    <link rel="stylesheet" type="text/css" th:href="@{csss/content.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@100;300&display=swap"
          rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="container mx-auto h-full flex justify-center items-center text-green-700 px-4">
    <div class="md:w-1/3 shadow-xl rounded-2xl border bg-green-100 w-full">
        <h1 class="text-center font-medium text-2xl text-white rounded-t-2xl bg-green-500 py-4">Sign In</h1>
        <form th:action="@{/login}" method="post" class="border-teal p-4 border-t-12 bg-white mb-6">
            <div class="mb-4">
                <label for="username" class="font-bold text-lg block mb-2">Username</label>
                <input id="username" type="text" name="username" field="*{username}" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"
                       placeholder="Your Username">
            </div>

            <div class="mb-4">
                <label for="password" class="font-bold text-lg block mb-2">Password</label>
                <input id="password" type="password" name="password" field="*{password}" autocomplete="off"
                       class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent"
                       placeholder="Your Password">
            </div>
            <div class="flex items-center justify-between">
                <input class="bg-green-500 text-white text-lg font-medium p-2 rounded inline-block w-full hover:bg-green-400 transition duration-400 hover:shadow-lg"
                       type="submit" value="Login">
            </div>

        </form>
        <div class="text-center pb-4">
            <p class="text-grey-dark text-sm">
                Don't have an account? <a href="#" class="no-underline text-green-500 font-bold">Create an Account</a>.
            </p>
        </div>
    </div>
</div>
<!--
        <div class="content">
          <div class = "form_wrapper" id='reg_form_wrapper' >

            <form login-page="/login"
                        authentication-failure-url="/login?error=true"
                        default-target-url="/index"
                        username-parameter="username"
                        password-parameter="password" class="user-form" id = 'user_form' th:action="@{/login}" method="post">
              <div id="choser_container">
                <h2 class = 'form_title active'>Регистрация</h2>
                <h2 class = 'form_title inactive'>Вход</h2>
              </div>
                <input name="${_csrf.parameterName}" value="${_csrf.token}" type = "hidden">
              <label for="user_form_username" class="form_label enabled_form_field">Имя пользователя:</label>
              <input type="text" id="user_form_username" name="username" class = "enabled_form_field">
              <label for="user_form_username_and_login" class="form_label disabled_form_field">Имя пользователя:</label>
              <input type="text" id="user_form_username_and_login" name="email_or_username" class = 'disabled_form_field'>
              <label for="user_form_email" class="form_label enabled_form_field">Почта:</label>
              <input type="email" id="user_form_email" name="email" class = "enabled_form_field">
              <label for="user_form_password" class="form_label constant">Пароль:</label>
              <input type="password" id="user_form_password" name="password" class="constant">
              <input class="button form_submit_button" id = 'user_form_submit_button' type = "submit" value = "Log in"></input>
            </form>
          </div>
        </div>
        -->
</body>
<script src="scripts/change_form_state.js"></script>
<script src="scripts/form_handler.js"></script>
</html>