body{
    padding: 0%;
    margin: 0px;
    margin: 0px 0px 0px 0px;

}

header {
    position: sticky;
    z-index: 10;
    top : 0px;
    width: 100%;
    min-width:100%;
    display: block;
    min-height: 50px;
    height: 80px;
    max-height: 110px;
    margin: 0px;
    background-color: #ffffff;
    border-bottom: 0.2vw solid #88a200;
    overflow: hidden;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    line-height:80px;
}

#logo {
    height: 60px;
    width: fit-content;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    transition: transform 1s ease-in-out;
}

#logo:hover{
    transform: rotate(360deg);
}



#logo_title{
    height: fit-content;
    width: fit-content;
    float: left;
    text-align: center;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#menu {
    position: fixed;
    top:0;
    right:0;
    float: right;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu  li {
    float: left;
}

#menu li a {
    display: block;
    font-family: 'Signika Negative', sans-serif;
    color: #293f3c;
    font-size: 16px;
    text-align: left;
    padding: 0vw 1vw;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s;
    text-decoration: none;
}

#menu li a:hover{
    transform: scale(1.2);
}

#menu li a:active{
    transform: scale(1.5);
}
#drop-menu {
    background-color:white;
    position: relative;
    top:0;
    z-index: 10;
}

#drop-menu  ul{
    background-color:white;
    position: fixed;
    top:82px;
    z-index: 10;
    transform: scale(1,0);
    line-height:32px;
    height: fit-content;
    border-top: 0.2vw solid #88a200;
    border-top-left-radius: 0.1vw;
    border-top-right-radius: 0.1vw;
    border-bottom: 0.2VW solid #88a200;
    border-bottom-right-radius: 0.1vw;
    border-bottom-left-radius: 0.1vw;
    transition: 0.2s;
    min-width: 7vw;
    width: fit-content;
    align-items: center;
    position: absolute;
    z-index: 1;
    transform-origin:top;
    margin-top: 0.5vw;
}



#drop-menu ul>li{
    display: block;
    width:100%;
	float:none;
	position: relative;
    max-width: fit-content;
    align-items: center;
}

#drop-menu li a{
    width: fit-content;
	position: relative;
    display: block;
    color: #293f3c;
    font-size:16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    transition: 0.5s;
    text-decoration: none;
}

#drop-menu:hover ul{
    transform-origin:top;
    transform: scale(1);
    transition-delay: 0.2s 3s;
}

#drop-menu li:hover a{
    transform-origin: left;
    transform: scale(1.2);
    
}

main{
    height: 100%;
    min-height: 75vh;
    width:100%;
    display: table;
    justify-content: flex-start;
    padding-bottom:20%;
}

article{
    width: 75%;
    max-width: 75%;
}

aside{
    position: absolute;
    top:7vw;
    right:0;
    width: 10%;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: inset 7px -7px 9px -7px #88a200;
}

aside p{
    width: 100%;
    margin-right:10px;
    margin-left:10px;
    margin-top: 5px;
    width: fit-content;
	float:center;
	position: relative;
    display: block;
    color: #293f3c;
    font-size:1vw;
    text-align: center;
}


article {
    position:relative;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0.3vw;
    margin-bottom: 10vw;
}

article h1{
    font-size: 24px;
}

article section{
    width: 100%;
    margin-left: 2vw;
    margin-top: 2vw;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

article section h2{
    font-size: 20px;
}

article section pre{
    line-height: 20px;
    font-size: 16px;
    margin-left: 1vw;
    margin-top: 1vw;
}

#registration_folder{
    width:100%;
    height:100%;
    display:inline-block;
}

fieldset{
    width:100%;
    display:flex;
    border:0;
}

form {
    width:40%;
    margin:auto;
}

.centred_form{
    width:100%;
    display:block;
}

.double_element{
    margin:auto;
    width:100%;
    display:table;
}
legend{
    margin:auto;
}

.double_element .form_element {
    float:left;
    width: 40%;
    height: 50px;
    margin:auto;
    display: inline-block;
}

.double_element  .right {
    float:right;
    width: 40%;
    height: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.form_element{
    flex:1;
    width:40%;
    height:fit-content;
    margin:auto;
    margin-bottom:40px;
    position:relative;
    display:block;
}

label{
    display:block;
    margin-bottom:10px;
}

video{
    margin:auto;
}

input::placeholder {
    font-size: 14px;
    text-align: left;
    font-family: 'Signika Negative', sans-serif;
}

input[type=email], input[type=text], input[type=tel], input[type=password] {
    display: block;
    height: 32px;
    padding-left:10px;
    border-radius: 4px;
    border: solid rgb(143, 153, 143) 2px;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

input[type=email]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus {
     border: solid #88a200 2px;
}

.form_element input[type=submit] {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.form_element input[type=submit]:focus{
    border: solid #88a200 2px;
}
.form_element input[type=submit]:hover{
    border: solid #88a200 2px;
}

.form_element button[type=reset] {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: solid rgb(143, 153, 143) 2px;
    transition:all 0.5s;
    font-size: 16px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}

.form_element button[type=reset]:focus{
    border: solid #88a200 2px;
}
.form_element button[type=reset]:hover {
    border: solid #88a200 2px;
}

.multiple_answers{
    display:flex;
}

.multiple_answers #radio,#checkbox{
    margin-left:10px;
    margin-right:20px;
}


footer{
    position:fixed;
    bottom:0;
    z-index: 10;
    width: 100%;
    min-height: 80px;
    height: fit-content;
    background-color: #293f3c;
    border-top: 0.2vw solid #88a200;
    overflow: hidden;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden; 
}

.footer_business_info{
    position:relative;
    height: fit-content;
    width: 100%;
    align-items: center;
    flex-shrink:0;
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    padding: 0.5vw;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.business_info_div { 
    position:relative;
    height: 70px;
    line-height: 70px;
    width:30%;
    flex-shrink:0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    display: inline-block;
}



.business_info_div a{
    transform: scale(1);
    position: relative;
    font-size: 16px;
    color: rgb(143, 153, 143);
    margin: 0px;
    margin-left: 0px;
    font-family: 'Signika Negative', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.05vw;
    transition:  .3s ;
}


.business_info_div a:hover{
    background-size: 100% 0.05vw;
}

.business_info_div a:active{
    background-size : 100% 0.178vw;
}

.business_info_div a:visited{
    color: rgb(119, 158, 119);
}


.image_folder{
    position: absolute;
    flex-direction: column;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    text-align:center;
    margin-right: 0px;
    margin-left: 10px;
    height: 100%;
    width: 40px;
    max-width: 40px;
}


#email_icon{
    position: absolute;
    height:80%;
    width: fit-content;
    max-width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#phone_number_icon{
    position: absolute;
    height:80%;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#adress_icon{
    position: absolute;
    height:80%;
    width: fit-content;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






