
:root{
    /* color type A */
    --line_color : #555555 ;
    --back_color : #FFECF6  ;

    /* color type B */
    /* --line_color : #1b1919 ;
    --back_color : #E9ECFF  ; */

    /* color type C */
    /* --line_color : #00135C ;
    --back_color : #DEFFFA  ; */
}

.basic_card_container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    margin:20px 0px 20px 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

}

.card div{
    text-align: center;
    width:100%;
}

.button {
  color: #000000;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  height:100%;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.button:after,
.button:before {
  backface-visibility: hidden;
  border: 1px solid #000000;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 50%;
}

.button:hover:after,
.button:hover:before {
  backface-visibility: hidden;
  border-color: #000000;
  transition: width 350ms ease-in-out;
  width: 70%;
}



