
.alfa_stripe_widget-table {
    border-collapse: collapse;
    width: 100%;
}

.alfa_stripe_widget-table th, .alfa_stripe_widget-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.alfa_stripe_widget-table th {
    background-color: #3498db;
    color: #fff;
}

.alfa_stripe_widget-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
